html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Loew';
}

#root {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'LoewNextArabic';
  src: local('Loew'),
    url(../src/assets/fonts/Loew-Next-Arabic.otf) format('opentype');
}

@font-face {
  font-family: 'LoewNextArabicBlack';
  font-weight: 900;
  src: local('Loew'),
    url(../src/assets/fonts/Loew-Next-Arabic-Black.otf) format('opentype');
}

@font-face {
  font-family: 'LoewNextArabicBold';
  font-weight: 900;
  src: local('Loew'),
    url(../src/assets/fonts/Loew-Next-Arabic-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'LoewNextArabicExtraBold';
  font-weight: 900;
  src: local('Loew'),
    url(../src/assets/fonts/Loew-Next-Arabic-ExtraBold.otf) format('opentype');
}

@font-face {
  font-family: 'LoewNextArabicHeavy';
  font-weight: 900;
  src: local('Loew'),
    url(../src/assets/fonts/Loew-Next-Arabic-Heavy.otf) format('opentype');
}

@font-face {
  font-family: 'LoewNextArabicLight';
  font-weight: 900;
  src: local('Loew'),
    url(../src/assets/fonts/Loew-Next-Arabic-Light.otf) format('opentype');
}

@font-face {
  font-family: 'LoewNextArabicMedium';
  font-weight: 900;
  src: local('Loew'),
    url(../src/assets/fonts/Loew-Next-Arabic-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'LoewNextArabicThin';
  font-weight: 900;
  src: local('Loew'),
    url(../src/assets/fonts/Loew-Next-Arabic-Thin.otf) format('opentype');
}
